.menu_container {
  font-family: Nunito-Bold;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 12px;
  background: rgba(40, 54, 24, 0.3);
  border-radius: 4px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid rgba(40, 54, 24, 0.1);
  a {
    text-decoration: none;
    color: inherit;
  }
  & > li {
    padding: 10px 0px 10px 0px;
    border-bottom: 0.5px solid gray;
  }
  & > li:last-child {
    border-bottom: 0px;
  }
}
