.hamburger_container {
  .hamburger_icon {
    width: 40px;
    height: 40px;
    color: var(--secondary-color);
    cursor: pointer;
    transition: all 0.3s;
    &:hover {
      opacity: 0.8;
    }
  }
}
