.logo_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 6px;
  .logo_icon {
    width: 32px;
    height: 32px;
  }
  p {
    color: var(--secondary-color);
    font-family: Nunito-Bold;
  }
}
a {
  text-decoration: none;
}
