.header_container {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid gainsboro;
  .logo_container {
    flex: 1;
    display: flex;
    justify-content: flex-start;
  }
  .login_container {
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }
  .links_container {
    flex: 1;
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    a.active::after {
      content: "";
      display: block;
      height: 2px;
      width: 100%;
      background-color: var(--copper-color);
      border-radius: 8px;
      animation: filling 0.3s ease-in-out forwards;
    }
  }
  .hamburger_container {
    display: none;
  }
  .menu_container {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 45px;
    right: -120%;
    width: 100%;

    transition: all 0.3s;
  }
  .active_menu {
    right: 0px;
    opacity: 1;
    visibility: visible;
  }
}
@media (max-width: 768px) {
  .header_container {
    .logo_container {
    }
    .login_container {
      display: none;
    }
    .links_container {
      display: none;
    }
    .hamburger_container {
      display: block;
    }
  }
}
@keyframes filling {
  0% {
    width: 0%;
    opacity: 0;
  }

  100% {
    width: 100%;
    opacity: 1;
  }
}
