.footer_container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .content {
    display: flex;
    align-items: end;
    font-family: Nunito-ExtraLight;
  }
  .social_media {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    .instagram_icon {
      width: 28px;
      height: 28px;
      color: var(--secondary-color);
      cursor: pointer;
      transition: all 0.3s;
      &:hover {
        transform: translateY(-4px);
      }
    }
    .twitter_icon {
      width: 28px;
      height: 28px;
      color: var(--secondary-color);
      cursor: pointer;
      transition: all 0.3s;
      &:hover {
        transform: translateY(-4px);
      }
    }
    .tiktok_icon {
      width: 28px;
      height: 28px;
      color: var(--secondary-color);
      cursor: pointer;
      transition: all 0.3s;
      &:hover {
        transform: translateY(-4px);
      }
    }
  }
}
