@font-face {
  font-family: "Nunito-Bold";
  src: url("/fonts/Nunito-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito-Medium";
  src: url("/fonts/Nunito-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito-ExtraLight";
  src: url("/fonts/Nunito-ExtraLight.ttf") format("truetype");
}

:root {
  line-height: 1.5;
  --primary-color: rgb(96, 108, 56); /* olive leafe */
  --secondary-color: rgb(40, 54, 24); /* black forest */
  --accent-color: rgb(250, 249, 241); /* cornsilk */
  --light_Caramel-color: rgb(221, 161, 94); /* caramel */
  --copper-color: #bc6c25; /* copper */
}
/* For Safari/iOS */
div {
  -webkit-tap-highlight-color: transparent;
}

/* Optional: remove focus outline if you don't want it */
div:focus {
  outline: none;
}
